{% extends "base.html" %}
{% block content %}
  <div class="row" style="height: 482px;">
    <div class="span12">
      <script src="/js/vendor/raphael-min.js" type="text/javascript"></script>
      <!-- TODO I need a loader, meantime dependencies should be loaded
      in order -->
      <script src="/js/util.js" type="text/javascript"></script>
      <script src="/js/DataModel.js" type="text/javascript"></script>
      <script src="/js/PostgresModel.js" type="text/javascript"></script>
      <!-- Workspace should be loaded last!!! -->
      <script src="/js/workspace.js" type="text/javascript"></script>
    </div>
  </div>
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">Properties</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-6">
            <div class="input-group">
              <span class="input-group-addon" id="property-name">Name</span>
              <input type="text" class="form-control" placeholder="Name"
              aria-describedby="property-name">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="input-group">
              <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle"
                  data-toggle="dropdown" aria-expanded="false">Type 
                  <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">PostgreSQL</a></li>
                  <li><a href="#">Mirth Connect</a></li>
                </ul>
              </div> <!-- /btn-group -->
              <input type="text" class="form-control" arial-label="..."
              placeholder="url://">
            </div> <!-- /input- group -->
          </div> <!-- /.col-lg-6 -->
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="btn-group" role="group" aria-label="...">
              <button type="button" class="btn btn-default">Save</button>
              <button type="button" class="btn btn-default">Clone</button>
              <button type="button" class="btn btn-default">Remove</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  {% endblock %}
