{% extends "base.html" %}
{% block content %}
  <div class="row">
    <div class="cols-9">
      <div class="panel panel-default" id="work-canvas"></div>
    </div>
    </div>
  </div>
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">Properties</div>
        <form name="properties-frm" id="properties-frm">
          {% csrf-field %}
          <div class="panel-body">
            <!-- Tab panels -->
            <div class="tab-panel">
                <!-- Navigation Tabs -->
                <ul class="nav nav-tabs" role="tablist" id="properties">
                <li role="presentation" class="active">
                  <a href="#workspace" aria-controls="workspace"
                    role="tab" data-toggle="tab">Workspace</a></li>
                <li role="presentation">
                  <a href="#connector" aria-controls="connector"
                    role="tab" data-toggle="tab">Connector</a></li>
                <li role="presentation"><a href="#connection"
                  aria-controls="connection"
                  role="tab" data-toggle="tab">Connection</a></li>
                </ul>

                <!-- Tab Content -->
                <div class="tab-content">
                {% include "properties-tab-workspace.html" %}
                {% include "properties-tab-connector.html" %}
                {% include "properties-tab-connection.html" %}
                </div> <!-- /tab-content -->
            </div>
          </div>
          <div class="panel-footer clearfix"> 
                <!-- Form Controls -->
                <div class="row">
                  <div class="col-xs-12">
                    <div class="form-group"><div class="input-group">
                    <div class="btn-group" role="group" aria-label="...">
                      <button type="button" class="btn btn-default" name="save-btn"
                        id="save-btn">Save</button>
                      <button type="button" class="btn btn-default" name="clone-btn"
                        id="clone-btn">Clone</button>
                      <button type="button" class="btn btn-default" name="remove-btn"
                        id="remove-btn">Remove</button>
                    </div>
                    </div>
                  </div>
                      <input type="hidden"
                      name="blk-id" id="blk-id">
                      <input type="hidden"
                      name="blk-type" id="blk-type">
                </div> <!-- Form Controls -->
          </div>
        </form>
      </div>
    </div>
  </div>
  {% endblock %}
