<div role="tabpanel" class="tab-pane" id="connector">
  <div class="row">
    <div class="col-xs-2">
      <div class="form-group"><div class="input-group input-group-sm">
        <div class="input-group-btn">
          <button type="button" class="btn btn-default btn-sm dropdown-toggle"
            data-toggle="dropdown" aria-expanded="false"
            id="btn-adapter-type">Type
            <span class="caret"></span></button>
          <ul class="dropdown-menu" id="adapter-type-lst" role="menu">
            <li><a>Channel Reader</a></li> <!-- TODO Fix keyboard -->
            <li><a>DICOM Listener</a></li> <!-- TODO Fix keyboard -->
            <li><a>Database Reader</a></li> <!-- TODO Fix keyboard -->
            <li><a>File Reader</a></li> <!-- TODO Fix keyboard -->
            <li><a>HTTP Listener</a></li>
            <li><a>JMS Listener</a></li>
            <li><a>JavaScript Reader</a></li>
            <li><a>TCP Listener</a></li>
            <li><a>Web Service Listener</a></li>
          </ul>
        </div> <!-- /btn-group -->
      </div></div> <!-- /input- group -->
    </div>
  </div>
</div> <!-- tab panel connection -->

