<div role="tabpanel" class="tab-pane" id="connector">
  <div class="row">
    <div class="col-sm-8">
      <div class="col-sm-4">
        <div class="form-group">
          <div class="input-group-sm">
            <select multiple class="form-control" id="connector-items-lst">
            </select>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <div class="input-group-sm">
            <select multiple class="form-control" id="connector-sub_items-lst">
           </select>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
       <div class="form-group">
        <div class="input-group-sm">
          <select multiple class="form-control" id="connector-out_items-lst">
            <option>MSH</option>
            <option>PID</option>
            <option>PV1</option>
            <option>ORC</option>
            <option>OBR</option>
         </select>
        </div>
     </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
    </div>
  </div>
</div> <!-- tab panel connection -->

