<!-- workspace
      control prefix: work-
      used in name and id properties
      -->
<div role="tabpanel" class="tab-pane active" id="workspace">
  <div class="row">
    <div class="col-xs-4">
      <div class="form-group">
        <div class="input-group input-group-xs">
          <span class="input-group-addon" id="workspace-name">Name</span>
          <input type="text" class="form-control input-sm" placeholder="workspace..."
            aria-describedby="property-name" name="work-name" id="work-name">
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" id="work-draft" checked="checked" value="checked">Draft
          </label>
        </div>
      </div>
    </div>
    <div class="col-xs-4" id="work-guid-label">
      Id:
    </div>
  </div>
  <div class="row">
    <div class="col-xs-10">
      <div class="form-group">
        <div class="input-group input-group-xs">
          <span class="input-group-addon"
            id="workspace-comments">Notes</span>
          <textarea class="form-control input-sm" id="work-comments" rows="3"></textarea>
        </div>
      </div>
    </div>
  </div>
</div> <!-- tab panel workspace -->

