<!-- connector
      control prefix: adapter-
      used in name and id properties
      -->
<div role="tabpanel" class="tab-pane" id="adapter">
  <div class="row">
    <div class="col-xs-4">
      <div class="form-group">
        <div class="input-group input-group-sm">
          <span class="input-group-addon">Name</span>
          <input type="text" class="form-control" placeholder="adapter..."
            aria-describedby="property-name" name="adapter-name"
            id="adapter-name">
        </div>
      </div>
    </div>
    <div class="col-xs-2">
      <div class="form-group">
        <div class="input-group input-group-sm">
          <div class="input-group-btn">
            <button type="button" class="btn btn-default btn-sm dropdown-toggle"
              data-toggle="dropdown" aria-expanded="false"
              id="btn-adapter-type">Type
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" id="adapter-type-lst" role="menu">
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="form-group">
        <div class="input-group input-group-sm">
          <div class="input-group-btn">
            <button type="button" class="btn btn-default btn-sm dropdown-toggle"
              data-toggle="dropdown" aria-expanded="false"
              id="btn-adapter-driver">Driver
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" id="adapter-driver-lst" role="menu">
            </ul>
          </div>
          <input type="url" class="form-control" arial-label="..."
            placeholder="url://" name="adapter-url" id="adapter-url" disabled>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3">
      <div class="form-group">
        <div class="input-group input-group-sm">
          <span class="input-group-addon">Host</span>
          <input type="text" class="form-control" placeholder="Server"
          aria-describedby="property-name" name="adapter-host" id="adapter-host">
        </div>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="form-group">
        <div class="input-group input-group-sm">
          <span class="input-group-addon">Source</span>
          <input type="text" class="form-control" placeholder="Data Source"
          aria-describedby="property-name" name="adapter-source" id="adapter-source">
        </div>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="form-group">
        <div class="input-group input-group-sm">
          <span class="input-group-addon">User</span>
          <input type="text" class="form-control" placeholder="User"
          aria-describedby="property-name" name="adapter-user" id="adapter-user">
        </div>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="form-group">
        <div class="input-group input-group-sm">
          <span class="input-group-addon">Password</span>
          <input type="text" class="form-control" placeholder="Password"
          aria-describedby="property-name" name="adapter-password" id="adapter-password">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-9">
      <div class="form-group">
        <div class="input-group input-group-sm">
          <span class="input-group-addon">Query</span>
          <textarea class="form-control" id="adapter-query" rows="3"></textarea>
        </div>
      </div>
    </div>
    <div class="col-xs-3">
      <button class="btn btn-default" type="button" id="adapter-test-btn">Test</button>
    </div>
  </div>
</div> <!-- tab panel connector -->

